.sidebar {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2f3135;
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: #ffffff;
  border-bottom: 3px solid #26282c;
}

.sidebar__channels{
  flex: 1;
}

.sidebar__channelheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f3135;
  color: gray;
  padding: 10px;
}

.sidebar__header {
  display: flex;
  align-items: center;
}

.sidebar__addchannel {
  cursor: pointer;
}

.sidebar__addchannel:hover {
  color: #fff;
}



.sidebar__voice, .sidebar__profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: gray;
  background-color: #2f3135;
  border-top: 1px solid gray ;
}


.sidebar__voiceInfo, .sidebar_profileInfo{
  flex: 1;
  padding: 10px;
}

.sidebar__voiceIcon{
  color: #4fb185;
}

.sidebar__voiceInfo > h3{
  color: #4fb185;
}

.sidebar__voiceInfo > p{
  font-size: smaller;
}


.sidebar__voiceIcons > .MuiSvgIcon-root, .sidebar_profileIcons > .MuiSvgIcon-root{
  padding: 5px;
  color: gray;
  cursor: pointer;
 
}

.sidebar_profileInfo > h3{
color: #ffffff;
}

